@page
@model LoginModel
    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Sign In</h1>
        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            @if (provider.Name.ToLower().Contains("facebook"))
                            {
                                <button type="submit" class="btn btn-block facebook-btn form-control"
                                        name="provider" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">
                                    <i class="fab fa-facebook-square"></i> @provider.DisplayName
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        }
                </div>
            </form>
        }


    <form id="account" method="post">
        @if (Model.ExternalLogins?.Count > 0)
        {
            <p style="text-align:center">OR</p>
        }

        <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" />
        <input asp-for="Input.Password" placeholder="Password..." type="password" class="form-control" />
        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Log in</button>

        <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Forgot your password?</a>
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-info text-white">Register as a new user</a>

       
    </form>

    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
